Laurentius-libs/Laurentius-commons/src/main/resources/schemas/msh-mail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by XMLSpy 2007 Professional Ed., Installed for 5 users (with SMP from 2007-02-06 to 2008-02-07) (CIF VSRS) -->
<!--Metadata: 
Owner: Supreme Court Republic of Slovenia 
Product: SVEV-MSH
Product Version: 1.0.0
Artifact Type: Schema
Descriptive Name: SVEV mail 
Date: 20150612 (12 June 2015)
Author: Joze Rihtarsic
-->
<!-- 
Copyright 2015, Supreme Court Republic of Slovenia 

 Licensed under the EUPL, Version 1.1 or – as soon they will be approved by 
 the European Commission - subsequent versions of the EUPL (the "Licence");
 You may not use this work except in compliance with the Licence.
 You may obtain a copy of the Licence at:

 https://joinup.ec.europa.eu/software/page/eupl

 Unless required by applicable law or agreed to in writing, software 
 distributed under the Licence is distributed on an "AS IS" basis, WITHOUT 
 WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the Licence for the specific language governing permissions and  
 limitations under the Licence.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://msh.laurentius.si/mail" targetNamespace="http://msh.laurentius.si/mail" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="MSHEventType">
		<xs:annotation>
			<xs:documentation xml:lang="sl">Status pošiljke</xs:documentation>
		</xs:annotation>
		<xs:attribute name="id" type="xs:integer">
			<xs:annotation>
				<xs:documentation>Event id</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="mailId" type="xs:integer">
			<xs:annotation>
				<xs:documentation xml:lang="sl">Id izhodne pošiljke</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="date" type="xs:dateTime" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="sl">Datum/čas statusa</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="status" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="sl">Koda statusa</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:maxLength value="10"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="description">
			<xs:annotation>
				<xs:documentation xml:lang="sl"> Opis dogodka</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="4000"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="userId">
			<xs:annotation>
				<xs:documentation xml:lang="sl">ID uporabnika, ki je sporožila spremembo statusa</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:maxLength value="64"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="applicationId"/>
		<xs:attribute name="evidenceMimeType">
			<xs:annotation>
				<xs:documentation xml:lang="sl">Mimetip napake, potrdila o prejemu, ki je prožil dogodek: plain/text, application/pdf, plain/xml, itd..  </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:maxLength value="128"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="evidenceFilepath">
			<xs:annotation>
				<xs:documentation xml:lang="sl">Relativna pot do opisa napake, potrdila o prejemu (AS4 Receipt), ki je prožila dogodek: plain/text, application/pdf, plain/xml, itd..  </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="1024"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<!-- xs:attribute name="senderEBox" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="sl">Naslovnikov elektronski naslov.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:maxLength value="64"/>
                    <xs:pattern value="[_\-a-zA-Z0-9\.\+]+@[a-zA-Z0-9](\.?[\-a-zA-Z0-9]*[a-zA-Z0-9])*"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute -->
	</xs:complexType>
	<xs:complexType name="MSHPropertyType">
		<xs:simpleContent>
			<xs:extension base="ns1:propertyValue">
				<xs:attribute name="id" type="xs:integer" use="optional"/>
				<xs:attribute name="name" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="propertyValue">
		<xs:restriction base="xs:string">
			<xs:maxLength value="512"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MSHPartType">
		<xs:annotation>
			<xs:documentation>MSH priponka/vsebina</xs:documentation>
		</xs:annotation>
		<xs:attribute name="id" type="xs:integer" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="sl">interna enolična oznaka priponke</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ebmsId" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="sl">ebMS ID </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="128"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="name" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="sl">Naziv priponke </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="128"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="description" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="sl">Opis priponke</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="512"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="type" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="sl">Pošiljateljeva oznaka tipa priponke (racun, vloga,  RC01, itd.) </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="64"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="filename" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="sl">ime datoteke: test.pdf, racun.xml, vabilo.doc, ... </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="128"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="mimeType" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="sl">Mimetip priponke: plain/text, application/pdf, plain/xml, itd..  </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:maxLength value="128"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="encoding" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="sl">kodiranje priponke oz kodna stran: UTF-8, CP1252-2 itd..  </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:maxLength value="128"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="sha1Value" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="sl">Zgostitvena vrednost priponke</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:maxLength value="128"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
                <xs:attribute name="size" type="xs:integer" use="required">
                
			<xs:annotation>
				<xs:documentation xml:lang="sl">velikost priponke</xs:documentation>
			</xs:annotation>
			
		</xs:attribute>
		<xs:attribute name="filepath">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="1024"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="isEncrypted" type="xs:boolean" default="false"/>
		<xs:attribute name="source" default="mail">
			<xs:annotation>
				<xs:documentation>Source of payload: 
- "mail" is orignial payload received or submitted;
- "generated" is generated during transmission</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="mail"/>
					<xs:enumeration value="generated"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MSHMailType">
		<xs:annotation>
			<xs:appinfo>Schema MSHMail infoset</xs:appinfo>
			<xs:documentation xml:lang="sl">Shema določa xml infoset izhodne in dohodne pošte, ki se vroča preko SVEV MSH modula. Sestavni deli vsakega maila so:
                - pošiljatelj
                - prejemnik
                - storitev (Storitev, akcija v storitvi)
                - vsebine, ki se vročajo				
            </xs:documentation>
		</xs:annotation>
		<xs:attribute name="messageId" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="sl">Enolična oznaka pošiljke MSH. Pri izhodni pošti se oznaka določi ob dodajanju pošiljke v pošiljanje. Vrednost atributa je enaka
                    Messaging/MessageInfo/MessageId v ebMS headerju izhodnega sporočila. Pri dohodni pošti se določi mshid določi ob uspešnem prejemu pošiljke.
                                    
                </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="64"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="refToMessageId" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="sl">Referenca na messageId dohodne pošiljke. Vrednost atributa je enaka
                    Messaging/MessageInfo/RefToMessageId v ebMS headerju izhodnega sporočila. 
                </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="64"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="senderMessageId" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="sl"> Enolična oznaka pošiljke pošiljatelja. Kombinacija:  @senderEBox  in @senderMessageId mora bit enolična. ID se uporablja tudi za kontrolo pri oddaji pošiljke v vročanje.  Namen atributa je kontrola, ali je pošiljka že bila oddana v dostavo. 
                    V primeru, da se sendereBox in senderMessageId že nahaja v tabeli za transport. Servis vrne mshMessageId "prvega sporočila" </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="64"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="service" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="sl">Storitve odpreme, ki jo določena v PMode parametrih </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:maxLength value="64"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="action" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="sl">Akcija v storitvi odpreme, ki jo določena v PMode parametrih  (npr: RegistredMail, LegalZPP, LegalZKP in LegalZUP, SMTPDelivery) </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:maxLength value="64"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="conversationId" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="sl">enolična oznaka "poslovne transakcije" v izmenjavi podaktov. V primeru, da ni podan je v prvem sporočilo določen kot senderMessageId.  </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="64"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="subject" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="sl">Opis vsebine sporočila </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="512"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="submittedDate" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="sl">Datum oddaje pošiljke v vročanje. Datum določi MSH ob prevem uspešnem prejemu pošiljke</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sentDate" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="sl">Datum pošiljanja sporočila naslovnikovemu MSH-ju</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="receivedDate" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="sl">Datum sprejema v naslovnikove MSH. Datum je obvezen za dohodno pošto.sentDate in receiveDate se lahko razlikujeta glede na spodaj ležeči protokol (HTTP,SMTP), multihop etc..  </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="deliveredDate" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="sl">Datum prevzema pošiljke. Datum je obvezen za dohodne pošiljke, ki so bile uspešno prevzete iz MSH-ja</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="receiverEBox" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="sl">Naslovnikov eBox naslov (email oblika). domena določa PMode konfiguracijo naslovnikovega strežnika</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:maxLength value="64"/>
					<xs:pattern value="[_\-a-zA-Z0-9\.\+]+@[a-zA-Z0-9](\.?[\-a-zA-Z0-9]*[a-zA-Z0-9])*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="receiverName" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="sl">Naslovnikov naziv.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="128"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="senderEBox" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="sl">Pošiljateljev  elektronski naslov (email oblika). domena določa PMode konfiguracijo naslovnikovega strežnika</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:maxLength value="64"/>
					<xs:pattern value="[_\-a-zA-Z0-9\.\+]+@[a-zA-Z0-9](\.?[\-a-zA-Z0-9]*[a-zA-Z0-9])*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="senderName" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="sl"> Pošiljateljev  naziv </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="128"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="id" type="xs:integer"/>
		<xs:attribute name="status">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:maxLength value="32"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="statusDate" type="xs:dateTime"/>
	</xs:complexType>
</xs:schema>
