Laurentius-test/src/main/resources/schemas/msh-in-mail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Metadata: 
Owner: Supreme Court Republic of Slovenia 
Product: SVEV-MSH
Product Version: 1.0.0
Artifact Type: Schema
Descriptive Name: SVEV mail 
Date: 20150612 (12 June 2015)
Author: Joze Rihtarsic
-->
<!-- 
Copyright 2015, Supreme Court Republic of Slovenia 

 Licensed under the EUPL, Version 1.1 or – as soon they will be approved by 
 the European Commission - subsequent versions of the EUPL (the "Licence");
 You may not use this work except in compliance with the Licence.
 You may obtain a copy of the Licence at:

 https://joinup.ec.europa.eu/software/page/eupl

 Unless required by applicable law or agreed to in writing, software 
 distributed under the Licence is distributed on an "AS IS" basis, WITHOUT 
 WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the Licence for the specific language governing permissions and  
 limitations under the Licence.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:ns1="http://msh.laurentius.si/inbox/mail" 
           xmlns:ns2="http://msh.laurentius.si/inbox/payload" 
           xmlns:ns3="http://msh.laurentius.si/inbox/property"
           targetNamespace="http://msh.laurentius.si/inbox/mail"
           elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:import namespace="http://msh.laurentius.si/inbox/property" schemaLocation="./msh-in-property.xsd"/>
    <xs:import namespace="http://msh.laurentius.si/inbox/payload" schemaLocation="./msh-in-payload.xsd"/>	
    <xs:element name="MSHInMail" type="ns1:MSHInMailType" />
    <xs:complexType name="MSHInMailType">
        <xs:annotation>
            <xs:appinfo>Schema MSHMail infoset</xs:appinfo>
            <xs:documentation xml:lang="sl">Shema določa xml infoset izhodne in dohodne pošte, ki se vroča preko SVEV MSH modula. Sestavni deli vsakega maila so:
                - pošiljatelj
                - prejemnik
                - storitev (Storitev, akcija v storitvi)
                - vsebine, ki se vročajo				
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="ns3:MSHInProperties" minOccurs="0"/>
            <xs:element ref="ns2:MSHInPayload" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="messageId" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="sl">Enolična oznaka pošiljke MSH. Pri izhodni pošti se oznaka določi ob dodajanju pošiljke v pošiljanje. Vrednost atributa je enaka
                    Messaging/MessageInfo/MessageId v ebMS headerju izhodnega sporočila. Pri dohodni pošti se določi mshid določi ob uspešnem prejemu pošiljke.
                                    
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="refToMessageId" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="sl">Referenca na messageId dohodne pošiljke. Vrednost atributa je enaka
                    Messaging/MessageInfo/RefToMessageId v ebMS headerju izhodnega sporočila. 
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="senderMessageId" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="sl"> Enolična oznaka pošiljke pošiljatelja. Kombinacija:  @senderEBox  in @senderMessageId mora bit enolična. ID se uporablja tudi za kontrolo pri oddaji pošiljke v vročanje.  Namen atributa je kontrola, ali je pošiljka že bila oddana v dostavo. 
                    V primeru, da se sendereBox in senderMessageId že nahaja v tabeli za transport. Servis vrne mshMessageId "prvega sporočila" </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="service" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="sl">Storitve odpreme, ki jo določena v PMode parametrih </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:maxLength value="64"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="action" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="sl">Akcija v storitvi odpreme, ki jo določena v PMode parametrih  (npr: RegistredMail, LegalZPP, LegalZKP in LegalZUP, SMTPDelivery) </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:maxLength value="64"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="conversationId" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="sl">enolična oznaka "poslovne transakcije" v izmenjavi podaktov. V primeru, da ni podan je v prvem sporočilo določen kot senderMessageId.  </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="subject" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="sl">Opis vsebine sporočila </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="512"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="submittedDate" type="xs:dateTime" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="sl">Datum oddaje pošiljke v vročanje. Datum določi MSH ob prevem uspešnem prejemu pošiljke</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="sentDate" type="xs:dateTime" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="sl">Datum pošiljanja sporočila naslovnikovemu MSH-ju</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="receivedDate" type="xs:dateTime" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="sl">Datum sprejema v naslovnikove MSH. Datum je obvezen za dohodno pošto.sentDate in receiveDate se lahko razlikujeta glede na spodaj ležeči protokol (HTTP,SMTP), multihop etc..  </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="deliveredDate" type="xs:dateTime" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="sl">Datum prevzema pošiljke. Datum je obvezen za dohodne pošiljke, ki so bile uspešno prevzete iz MSH-ja</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="receiverEBox" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="sl">Naslovnikov eBox naslov (email oblika). domena določa PMode konfiguracijo naslovnikovega strežnika</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:maxLength value="64"/>
                    <xs:pattern value="[_\-a-zA-Z0-9\.\+]+@[a-zA-Z0-9](\.?[\-a-zA-Z0-9]*[a-zA-Z0-9])*"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="receiverName" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="sl">Naslovnikov naziv.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="128"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="senderEBox" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="sl">Pošiljateljev  elektronski naslov (email oblika). domena določa PMode konfiguracijo naslovnikovega strežnika</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:maxLength value="64"/>
                    <xs:pattern value="[_\-a-zA-Z0-9\.\+]+@[a-zA-Z0-9](\.?[\-a-zA-Z0-9]*[a-zA-Z0-9])*"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="senderName" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="sl"> Pošiljateljev  naziv </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="128"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="id" type="xs:integer"/>
        <xs:attribute name="status">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:maxLength value="32"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="statusDate" type="xs:dateTime"/>
    </xs:complexType>
</xs:schema>
