Laurentius-test/src/main/resources/schemas/pmode.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by XMLSpy 2007 Professional Ed., Installed for 5 users (with SMP from 2007-02-06 to 2008-02-07) (CIF VSRS) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://svev.msh.org/pmode" targetNamespace="http://svev.msh.org/pmode" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:annotation>
        <xs:documentation/>
    </xs:annotation>
    <xs:element name="PModes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="PMode" type="tns:PMode" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="PMode">
        <xs:sequence>
            <xs:element name="Agreement" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The reference to the agreement governing this message exchange (maps to
                        eb:AgreementRef in message header)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MEP" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The type of ebMS MEP associated with this P-Mode. The value must be a URI</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="http://docs.oasis-open.org/ebxml-msg/ebms/v3.0/ns/core/200704/oneWay"/>
                        <xs:enumeration value="http://docs.oasis-open.org/ebxml-msg/ebms/v3.0/ns/core/200704/twoWay"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="MEPbinding" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The transport channel binding assigned to the MEP (push, pull)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="http://docs.oasis-open.org/ebxml-msg/ebms/v3.0/ns/core/200704/push"/>
                        <xs:enumeration value="http://docs.oasis-open.org/ebxml-msg/ebms/v3.0/ns/core/200704/pull"/>
                        <xs:enumeration value="http://docs.oasis-open.org/ebxml-msg/ebms/v3.0/ns/core/200704/sync"/>
                        <xs:enumeration value="http://docs.oasis-open.org/ebxml-msg/ebms/v3.0/ns/core/200704/pushAndPush"/>
                        <xs:enumeration value="http://docs.oasis-open.org/ebxml-msg/ebms/v3.0/ns/core/200704/pushAndPull"/>
                        <xs:enumeration value="http://docs.oasis-open.org/ebxml-msg/ebms/v3.0/ns/core/200704/pullAndPush"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Initiator" type="tns:Party" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>This element includes the information on the initiator of the MEP, i.e. the partner that sends the first message. Note that this is not always the sender of the user message because in the pull scenario the first message (the PullRequest) is sent by the partner that will receive the user message. See website and/or chapter 2 of the ebMS V3 Core Specification for more info.

                        When included the element must contain one or more party ids that identify the trading partner and the business role the partner is acting in. 

                        

                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Responder" type="tns:Party" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>PMode.Responder and its subelements are optional if
                        PMode.Initiator is present.) Qualifies the party responding to the initiator party in this MEP. Any
                        user message sent to the responder must have its
                        eb:Messaging/eb:UserMessage/eb:PartyInfo/eb:To element contain the same PartyId elements
                        as the PartyId elements defined in this parameter</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Leg" type="tns:Leg" maxOccurs="2"/>
            <xs:element name="ReceptionAwareness" type="tns:ReceptionAwareness" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" use="required">
            <xs:annotation>
                <xs:documentation>The identifier for the P-Mode, e.g. the name of the business transaction:
                    PurchaseOrderFromACME. This identifier is user-defined and optional, for the convenience of P-
                    Mode management. It must uniquely identify the P-Mode among all P-Modes deployed on the
                    same MSH, and may be absent if the P-Mode is identified by other means, e.g. embedded in a
                    larger structure that is itself identified, or has parameter values distinct from other P-Modes used
                    on the same MSH. If the ID is specified, the AgreementRef/@pmode attribute value is also
                    expected to be set in associated messages.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:minLength value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="extends">
            <xs:annotation>
                <xs:documentation>reference to PMode@id which  is base for this pmode</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="isTemplate" type="xs:boolean" default="false"/>
    </xs:complexType>
    <xs:complexType name="Party">
        <xs:sequence>
            <xs:element name="PartyId" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="type">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Role" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Name of the role assumed by the party receiving the first message of
                        this MEP. Either the message element
                        eb:Messaging/eb:UserMessage/eb:PartyInfo/eb:From/eb:Role or the element
                        eb:Messaging/eb:UserMessage/eb:PartyInfo/eb:To/eb:Role of each message in
                        this MEP must have this value, depending on the direction of message transfer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Authorization" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Describe authorization information for messages
                        sent by Responder. These parameters need to be matched by a wsse:UsernameToken element in a message (in a security header only intended for authorization) for this message to be
                        processed successfully on receiver side – here by Initiator MSH.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attribute name="username"/>
                    <xs:attribute name="password"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Leg">
        <xs:sequence>
            <xs:element name="Protocol" type="tns:Protocol" minOccurs="0"/>
            <xs:element name="BusinessInfo" type="tns:BusinessInfo" minOccurs="0"/>
            <xs:element name="ErrorHandling" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>This P-Mode group concerns errors generated by the reception of the message (for
                        either a User message or a Signal message, unless indicated otherwise) sent over leg 1
                        of the MEP.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Report">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ReceiverErrorsTo" type="xs:string" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>This parameter indicates the address, or
                                                comma-separated list of addresses, to which to send ebMS errors generated by the MSH that
                                                receives the message in error; e.g. this may be the address of the MSH sending the message in
                                                error</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="AsResponse" type="xs:boolean" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>This Boolean parameter indicates whether (if
                                                "true") errors generated from receiving a message in error are sent over the back-channel of the
                                                underlying protocol associated with the message in error, or not.</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="ProcessErrorNotifyProducer" type="xs:boolean" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>This Boolean parameter
                                                indicates whether (if "true") the Consumer (application/party) of a User Message matching this P-
                                                Mode should be notified when an error occurs in the Receiving MSH, during processing of the
                                                received User message</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="DeliveryFailuresNotifyProducer" type="xs:boolean" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>This Boolean parameter
                                                indicates whether (if "true") the Producer (application/party) of a User Message matching this P-
                                                Mode must always be notified when the delivery to Consumer failed, or whether (if "false"), in
                                                some cases, it is sufficient to notify the Consumer only
                                                (Report.ProcessErrorNotifyConsumer="true"). This assumes that
                                                Reliability.AtLeastOnce.Contract is "true". This also assumes that the Sending MSH
                                                implementation has the ability to determine or to be made aware of all cases of non-delivery that
                                                occur after the message has been received by the Receiving MSH.</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Security" type="tns:Security" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="type" default="fore-channel">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="fore-channel"/>
                    <xs:pattern value="back-channel"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="Protocol">
        <xs:sequence>
            <xs:element name="Address" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The value of this parameter represents the address (endpoint
                        URL) of the Receiver MSH (or Receiver Party) to which Messages under this P-Mode leg are to
                        be sent. Note that a URL generally determines the transport protocol (for example, if the
                        endpoint is an email address, then the transport protocol must be SMTP; if the address scheme
                        is "http", then the transport protocol must be HTTP).</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:anyURI">
                            <xs:attribute name="connectionTimeout" type="xs:int" default="120000"/>
                            <xs:attribute name="receiveTimeout" type="xs:int" default="120000"/>
                            <xs:attribute name="chunked" type="xs:boolean" default="true"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="TLS" minOccurs="0">
                <xs:complexType>
                    <xs:attribute name="keyStorePath" use="optional"/>
                    <xs:attribute name="keyStoreType" use="optional" default="JKS"/>
                    <xs:attribute name="keyStorePassword" use="optional"/>
                    <xs:attribute name="keyPassword" use="optional"/>
                    <xs:attribute name="trustStorePath" use="required"/>
                    <xs:attribute name="trustStoreType" use="optional" default="JKS"/>
                    <xs:attribute name="trustStorePassword" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Proxy" minOccurs="0">
                <xs:complexType>
                    <xs:attribute name="host" type="xs:anyURI" use="required"/>
                    <xs:attribute name="port" type="xs:int" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="SOAPVersion" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>this parameter indicates the SOAP version to be used (1.1
                        or 1.2). In some implementations, this parameter may be constrained by the implementation, and
                        not set by users.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:float">
                        <xs:enumeration value="1.1"/>
                        <xs:enumeration value="1.2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessInfo">
        <xs:annotation>
            <xs:documentation>This set of parameters only applies to user messages.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Service" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Name of the service to which the User message is intended to
                        be delivered. Its content should map to the element
                        eb:Messaging/eb:UserMessage/eb:CollaborationInfo/eb:Service.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="inPlugin"/>
                            <xs:attribute name="outPlugin">
                                <xs:annotation>
                                    <xs:documentation>plugin jar name and class name jarname!classname</xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Action" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Name of the action the User message is intended to invoke. Its
                        content should map to the element
                        eb:Messaging/eb:UserMessage/eb:CollaborationInfo/eb:Action</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="after" type="xs:string"/>
                            <xs:attribute name="direction" default="out">
                                <xs:simpleType>
                                    <xs:restriction base="xs:token">
                                        <xs:pattern value="in"/>
                                        <xs:pattern value="out"/>
                                        <xs:pattern value="bidirection"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Properties" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The value of this parameter is a list of properties. A
                        property is a data structure that consists of four values: the property name, which can be used as
                        an identifier of the property (e.g. a required property named "messagetype" can be noted as:
                        Properties[messagetype].required="true"); the property description; the property data type; and a
                        Boolean value, indicating whether the property is expected or optional, within the User message.
                        This parameter controls the contents of the element
                        eb:Messaging/eb:UserMessage/eb:MessageProperties.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Property" type="tns:Property" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="PayloadProfiles" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="PayloadProfile" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:attribute name="name" type="xs:string">
                                    <xs:annotation>
                                        <xs:documentation>(or Content-ID) that is the part identifier, and can be used
                                            as an index in the notation PayloadProfile[]</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="MIME" type="xs:string">
                                    <xs:annotation>
                                        <xs:documentation>data type (text/xml, application/pdf, etc.);</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="maxSize" type="xs:integer">
                                    <xs:annotation>
                                        <xs:documentation>maximum size in
                                            kilobytes</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="required" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:documentation>Boolean value indicating whether the part is expected or optional, within the
                                            User message</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="maxSize">
                        <xs:annotation>
                            <xs:documentation>This parameter allows for specifying a
                                maximum size in kilobytes for the entire payload, i.e. for the total of all payload parts.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="action"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="MPC" type="xs:anyURI" default="http://docs.oasis-open.org/ebxml-msg/ebms/v3.0/ns/core/200704/defaultMPC" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The value of this parameter is the identifier of the MPC (Message
                        Partition Channel) to which the message is assigned. It maps to the attribute
                        eb:Messaging/eb:UserMessage/@mpc.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReceiptType">
        <xs:sequence>
            <xs:element name="ReplyPattern">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="RESPONSE"/>
                        <xs:enumeration value="CALLBACK"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="To" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Property">
        <xs:sequence>
            <xs:element name="name"/>
            <xs:element name="value"/>
            <xs:element name="action" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Security">
        <xs:sequence>
            <xs:element name="X509" type="tns:X509" minOccurs="0"/>
            <xs:element name="UsernameToken" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The value of this parameter is the username to include in a WSS Username Token.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attribute name="username"/>
                    <xs:attribute name="password">
                        <xs:annotation>
                            <xs:documentation>he value of this parameter is the password to
                                use inside a WSS Username Token.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="created">
                        <xs:annotation>
                            <xs:documentation>he Boolean value of this parameter indicates
                                whether the WSS UsernameToken element should have a Created timestamp element.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="digest">
                        <xs:annotation>
                            <xs:documentation>The Boolean value of this parameter indicates
                                whether a password digest should be included in the WSS UsernameToken element</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="PModeAuthorize" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The Boolean value of this parameter indicates whether
                        messages on this MEP leg must be authorized for processing under this P-Mode. If the
                        parameter is "true" this implies that either
                        PMode.Responder.Authorization.{username/password}, if the message is sent by Responder, or
                        PMode.Initiator.Authorization if the message is sent by Initiator, must be used for this purpose,
                        as specified in Section 7.10. For example, when set to "true" for a PullRequest message sent by
                        the Initiator, the pulling will only be authorized over the MPC indicated by this Pull signal if (a)
                        the MPC is the same as specified in the P-Mode leg for the pulled message, and (b) the signal
                        contains the right credentials (e.g. username/password).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SendReceipt" minOccurs="0">
                <xs:complexType>
                    <xs:attribute name="sendReceipt" type="xs:boolean" use="required">
                        <xs:annotation>
                            <xs:documentation>The Boolean value of this parameter indicates whether a
                                signed receipt (Receipt ebMS signal) containing a digest of the message must be sent back.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="replyPattern" use="required">
                        <xs:annotation>
                            <xs:documentation>This parameter indicates whether the Receipt
                                signal is to be sent as a callback (value "callback"), or synchronously in the back-channel
                                response (value "response"). If not present, any pattern may be used</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:token">
                                <xs:enumeration value="callback"/>
                                <xs:enumeration value="response"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="WSSVersion" default="1.1">
            <xs:annotation>
                <xs:documentation>value of this parameter represents the version of WS-Security to be used</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="1.1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="Certificate">
        <xs:attribute name="alias" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>Alias of certificate in keystore</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="X509">
        <xs:sequence>
            <xs:element name="Signature" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Certificate" type="tns:Certificate" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>The value of this parameter identifies the public
                                    certificate to use when verifying signed data.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Sign" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>The value of this parameter is a list of the names of XML
                                    elements (inside the SOAP envelope) that should be signed, as well as whether or not
                                    attachments should also be signed. The list is represented in two sublists that extend this
                                    parameter: Sign.Element[] and Sign.Attachment[]. An element within the Element[] list could
                                    be specified either by its XML name or by its qualified name (its XML name and the namespace
                                    to which it belongs). An element within the Attachment[] list is identified by the Content-Id.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension base="tns:References">
                                        <xs:attribute name="signCertAlias"/>
                                    </xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="hashFunction" type="xs:string" default="http://www.w3.org/2001/04/xmlenc#sha512">
                        <xs:annotation>
                            <xs:documentation>The value of this parameter identifies the
                                algorithm that is used to compute the digest of the message being signed. The definitions for
                                these values are in the [XMLDSIG] specification.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="algorithm" type="xs:string" default="http://www.w3.org/2001/04/xmldsig-more#rsa-sha512">
                        <xs:annotation>
                            <xs:documentation>The value of this parameter identifies the
                                algorithm that is used to compute the value of the digital signature. The definitions for these
                                values are found in the [XMLDSIG] or [XMLENC] specifications</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="Encrypt" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The value of this parameter lists the names of
                        XML elements(inside the SOAP envelope) that should be encrypted, as well as whether or not
                        attachments should also be encrypted. The list is represented in two sublists that extend this
                        parameter: Encrypt.Element[] and Encrypt.Attachment[]. An element within these lists is
                        identified as in Security.X509.Sign lists.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Certificate" type="tns:Certificate" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>The value of this parameter identifies the
                                    public certificate to use when encrypting data.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Encrypt" type="tns:References" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>The value of this parameter is a list of the names of XML
                                    elements (inside the SOAP envelope) that should be signed, as well as whether or not
                                    attachments should also be signed. The list is represented in two sublists that extend this
                                    parameter: Sign.Element[] and Sign.Attachment[]. An element within the Element[] list could
                                    be specified either by its XML name or by its qualified name (its XML name and the namespace
                                    to which it belongs). An element within the Attachment[] list is identified by the Content-Id.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="algorithm" use="required">
                        <xs:annotation>
                            <xs:documentation>The value of this parameter identifies the
                                encryption algorithm to be used. The definitions for these values are found in the [XMLENC]
                                specification.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="minimumStrength" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="References">
        <xs:sequence>
            <xs:element name="Elements" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="XPath" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Relative reference from Envelope:
                                    env:Header/eb3:Messaging
                                    namespaces:
                                    env  -> http://www.w3.org/2003/05/soap-envelope
                                    eb3->  http://docs.oasis-open.org/ebxml-msg/ebms/v3.0/ns/core/200704/
									
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Namespace" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:attribute name="prefix" use="required"/>
                                            <xs:attribute name="namespace" use="required"/>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:attribute name="xpath"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="signElements" type="xs:boolean" default="true"/>
        <xs:attribute name="signAttachments" type="xs:boolean" default="true"/>
    </xs:complexType>
    <xs:complexType name="ReceptionAwareness">
        <xs:sequence>
            <xs:element name="Retry" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>(contains a composite string
                        specifying: (a) maximum number of retries or some timeout, (b) frequency of retries
                        or some retry rule). The string contains a sequence of parameters of the form:
                        name=value, separated by either comas or ‘;’. Example:
                        “maxretries=10,period=3000”, in case the retry period is 3000 ms.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attribute name="maxRetries" type="xs:int" default="3"/>
                    <xs:attribute name="multiplyPeriod" type="xs:int" default="3"/>
                    <xs:attribute name="period" type="xs:int" default="5678"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="DuplicateDetection" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>(contains an im-
                        plementation specific composite string. As an example this string may specify either
                        (a) maximum size of message log over which duplicate detection is supported, (b)
                        maximum time window over which duplicate detection is supported). The string con-
                        tains a sequence of parameters of the form: name=value, separated by either comas
                        or ‘;’. Example: “maxsize=10Mb,checkwindow=7D”, in case the duplicate check win-
                        dow is guaranteed of 7 days minimum.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attribute name="windowPeriode" type="xs:duration" default="P1Y"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
